/**
 * Import
 */

#teamtally-import {
  #demo-radio {
    $ctl-color: #d01818;

    label {
      font-weight: bold;
      strong {
        background-color: #717171;
        padding: 5px 10px;
        color: white;
      }
    }

  }

}

