/*
 * UTILITIES
 */
.teamtally_alignleft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.teamtally_card {
  padding: 20px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
}
.teamtally_card > p:first-child, .teamtally_card > h1:first-child, .teamtally_card > h2:first-child {
  margin-top: 0;
}
.teamtally_card > p:last-child {
  margin-bottom: 0;
}

/**
 * LEAGUE ITEM ICONS
 */
.teamtally_icon_edit {
  background-image: url("data:image/svg+xml,%3Csvg class=%27svg-icon%27 style=%27width: 1em%3B height: 1em%3Bvertical-align: middle%3Bfill: currentColor%3Boverflow: hidden%3B%27 viewBox=%270 0 1024 1024%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M358.277408 561.800219c-0.596588 0.759293-1.193175 1.559519-1.461281 2.52245l-46.050826 168.836313c-2.685155 9.829879 0.065492 20.422122 7.342222 27.889187 5.442966 5.317099 12.614296 8.239662 20.252253 8.239662 2.52245 0 5.050016-0.301875 7.537673-0.962931l167.638021-45.722344c0.26913 0 0.399089 0.23536 0.601704 0.23536 1.925862 0 3.817955-0.700965 5.246491-2.161223l448.270537-448.205045c13.31526-13.332656 20.61655-31.494295 20.61655-51.254338 0-22.38994-9.496282-44.770669-26.126031-61.356416L919.809521 117.458155c-16.604166-16.629749-39.016619-26.143427-61.396325-26.143427-19.754926 0-37.915541 7.303336-51.264571 20.602224L358.944604 560.241724C358.478999 560.669466 358.609982 561.302893 358.277408 561.800219M923.791206 228.575906l-44.526099 44.49233-72.180949-73.327052 43.894719-43.895743c6.935969-6.973832 20.384259-5.956665 28.353768 2.041496l42.363853 42.402739c4.420683 4.41352 6.941086 10.289344 6.941086 16.099676C928.610978 221.151819 926.914336 225.473241 923.791206 228.575906M437.999101 568.842613l323.465043-323.483462 72.216765 73.376171-322.863339 322.847989L437.999101 568.842613 437.999101 568.842613zM379.065873 699.990558l23.375383-85.799108 62.352093 62.358233L379.065873 699.990558 379.065873 699.990558zM927.623487 406.192186c-16.968463 0-31.904641 13.796214-31.970132 30.994921l0 419.411255c0 21.913079-17.796318 38.907125-39.744189 38.907125L166.418752 895.505487c-21.914102 0-38.247092-16.991999-38.247092-38.907125L128.17166 166.360935c0-21.930475 16.331967-38.441521 38.247092-38.441521l473.184973 0c17.063631 0 30.908964-15.163351 30.908964-32.232099 0-17.034978-13.846356-31.68156-30.908964-31.68156L161.703357 64.005756c-53.42477 0-97.827049 44.216038-97.827049 97.67253l0 699.637518c0 53.458539 44.403303 98.422613 97.827049 98.422613l698.884364 0c53.463656 0 98.967012-44.964074 98.967012-98.422613l0-424.324148C959.489242 419.9884 944.587857 406.192186 927.623487 406.192186%27 /%3E%3C/svg%3E");
}

.teamtally_icon_delete {
  background-image: url("data:image/svg+xml,%3Csvg class=%27svg-icon%27 style=%27width: 1em%3B height: 1em%3Bvertical-align: middle%3Bfill: currentColor%3Boverflow: hidden%3B%27 viewBox=%270 0 1024 1024%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M790.24 281.76l1.248 604.192c0 31.712-13.088 48.672-44.896 48.672l-461.504-1.28c-31.776 0-45.792-14.496-45.792-46.144l0-605.44-71.52 0 0 605.728c0 63.552 51.712 115.2 115.232 115.2l460.8 0c63.552 0 115.232-51.68 115.232-115.2l0-605.728-68.864 0zM335.744 411.392l0 428.928c0 2.784 0.416 5.472 1.12 8.032 21.088 0 42.208-0.032 63.328-0.192 0.672-2.464 1.088-5.152 1.088-7.84l0-428.736c-21.856-0.096-43.68-0.16-65.536-0.192l0 0zM624.992 412.928l0 427.424c0 2.208 0.256 4.384 0.704 6.496 21.344-0.128 42.72-0.16 64.032-0.224 0.448-2.048 0.672-4.096 0.672-6.336l0-427.168c-21.792-0.032-43.616-0.096-65.408-0.192l0 0zM978.912 165.664l-255.904 0 0-72.192c1.12-58.112-46.752-72.128-94.528-72.128l-229.952 0c-59.36 0-93.216 22.304-93.216 70.112l-0.256 74.208-259.968 0 0 70.496 933.792 0 0-70.496 0.032 0zM657.504 165.664l-288.032 0 0-50.496c0-16 11.296-29.92 27.296-29.92l230.432 1.248c16 0 30.08 11.488 30.08 27.488l0.224 51.68zM482.688 412.96l0 427.36c0 2.208 0.256 4.416 0.704 6.496 21.152-0.096 42.304-0.16 63.456-0.16 0.448-2.08 0.672-4.096 0.672-6.336l0-427.168c-21.632-0.032-43.232-0.096-64.864-0.192l0 0z%27 /%3E%3C/svg%3E");
}

.teamtally_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/**
 * CUSTOM
 */
.teamtally_pointer_cursor {
  cursor: pointer;
}

/**
 * spacing utilities
 */
.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ms-3 {
  margin-left: 0.75rem;
}

.ms-4 {
  margin-left: 1rem;
}

.ms-5 {
  margin-left: 1.25rem;
}

.ms-6 {
  margin-left: 1.5rem;
}

.ms-7 {
  margin-left: 1.75rem;
}

.ms-8 {
  margin-left: 2rem;
}

.ms-9 {
  margin-left: 2.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-3 {
  margin-right: 0.75rem;
}

.me-4 {
  margin-right: 1rem;
}

.me-5 {
  margin-right: 1.25rem;
}

.me-6 {
  margin-right: 1.5rem;
}

.me-7 {
  margin-right: 1.75rem;
}

.me-8 {
  margin-right: 2rem;
}

.me-9 {
  margin-right: 2.25rem;
}

/*
 * ADD LEAGUE
 */
.teamtally_leagues__add-league .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.teamtally_leagues__add-league .row .left, .teamtally_leagues__add-league .row .right {
  padding-right: 20px;
}
.teamtally_leagues__add-league .row .left {
  order: 2;
}
.teamtally_leagues__add-league .row .right {
  order: 1;
  padding-top: 20px;
}
.teamtally_leagues__add-league .row .teamtally_leagues__add-league__photo {
  border: 1px solid #8c8f94;
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
}
.teamtally_leagues__add-league .row .form-field label {
  font-weight: bold;
}
.teamtally_leagues__add-league div.submit {
  display: inline-block;
  margin-top: 30px;
}
.teamtally_leagues__add-league div.invalid {
  border: 4px solid #de3a02 !important;
}

/*
 * LIST LEAGUES
 */
.teamtally_leagues__list-leagues .leagues-zone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 30px 0;
}
@media (max-width: 710px) {
  .teamtally_leagues__list-leagues .leagues-zone {
    justify-content: center;
  }
}

/**
 * LEAGUE ITEM
 */
.league-item {
  width: 22%;
}
@media (max-width: 1540px) {
  .league-item {
    width: 30%;
  }
}
@media (max-width: 1120px) {
  .league-item {
    width: 45%;
  }
}
@media (max-width: 710px) {
  .league-item {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .league-item {
    width: 100%;
  }
}

.teamtally_leagues__league-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  overflow: hidden;
}
.teamtally_leagues__league-item .thumbnail {
  position: relative;
  aspect-ratio: 77/58;
  overflow: hidden;
  cursor: pointer;
}
.teamtally_leagues__league-item .thumbnail a {
  color: white;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.teamtally_leagues__league-item .thumbnail a .thumbnail__content {
  position: relative;
  z-index: 5;
  display: inline-block;
  background-size: cover;
  background-image: none;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.teamtally_leagues__league-item .thumbnail a .thumbnail__legend {
  display: inline-block;
  position: absolute;
  z-index: 10;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 50px;
  bottom: -50px;
  left: 0;
  color: white;
  text-align: center;
  line-height: 50px;
  transition: bottom 1s;
  font-size: 140%;
}
.teamtally_leagues__league-item .thumbnail a:hover .thumbnail__legend {
  color: yellow;
}
.teamtally_leagues__league-item .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bbbbbb;
  background-color: white;
  padding: 10px;
}
.teamtally_leagues__league-item .footer .league-data .league-name {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
}
.teamtally_leagues__league-item .footer .league-data .league-country {
  margin: 5px 0;
}
.teamtally_leagues__league-item .footer .league-item-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.teamtally_leagues__league-item .footer .league-item-buttons .teamtally_btn {
  filter: invert(72%) sepia(4%) saturate(11%) hue-rotate(10deg) brightness(93%) contrast(95%);
}
.teamtally_leagues__league-item .footer .league-item-buttons .teamtally_btn:hover {
  filter: invert(30%) sepia(93%) saturate(908%) hue-rotate(352deg) brightness(105%) contrast(120%);
}
.teamtally_leagues__league-item:hover .thumbnail .thumbnail__legend {
  bottom: 0;
}

/**
 * NEW LEAGUE ITEM BTN
 */
.teamtally_leagues__league-item_new {
  position: relative;
  aspect-ratio: 386/338;
  border: 5px dashed #ccc;
  cursor: pointer;
}
.teamtally_leagues__league-item_new .teamtally_icon_add {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #8c8f94;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
}
.teamtally_leagues__league-item_new .teamtally_icon_add #svg-cross {
  fill: #e6e7e8;
}
.teamtally_leagues__league-item_new .legend {
  position: absolute;
  color: #1d2327;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.teamtally_leagues__league-item_new:hover {
  background-color: #2271b1;
  border-color: transparent;
}
.teamtally_leagues__league-item_new:hover .teamtally_icon_add {
  background-color: #2271b1;
}
.teamtally_leagues__league-item_new:hover .teamtally_icon_add #svg-cross {
  fill: white;
}
.teamtally_leagues__league-item_new:hover .legend {
  color: white;
}

/**
 * LIST TEAMS
 */
.teamtally__teams__list_draft_teams .wp-list-table th.column-id, .teamtally__teams__list_draft_teams .wp-list-table td.column-id,
.teamtally__teams__list_teams_in_trash .wp-list-table th.column-id,
.teamtally__teams__list_teams_in_trash .wp-list-table td.column-id,
.teamtally__teams__list_teams .wp-list-table th.column-id,
.teamtally__teams__list_teams .wp-list-table td.column-id {
  width: 30px;
}
.teamtally__teams__list_draft_teams .wp-list-table th.column-title, .teamtally__teams__list_draft_teams .wp-list-table td.column-title,
.teamtally__teams__list_teams_in_trash .wp-list-table th.column-title,
.teamtally__teams__list_teams_in_trash .wp-list-table td.column-title,
.teamtally__teams__list_teams .wp-list-table th.column-title,
.teamtally__teams__list_teams .wp-list-table td.column-title {
  width: 250px;
}
.teamtally__teams__list_draft_teams .wp-list-table th.column-logo, .teamtally__teams__list_draft_teams .wp-list-table td.column-logo,
.teamtally__teams__list_teams_in_trash .wp-list-table th.column-logo,
.teamtally__teams__list_teams_in_trash .wp-list-table td.column-logo,
.teamtally__teams__list_teams .wp-list-table th.column-logo,
.teamtally__teams__list_teams .wp-list-table td.column-logo {
  width: 150px;
  text-align: center;
}
.teamtally__teams__list_draft_teams .wp-list-table th.column-nickname, .teamtally__teams__list_draft_teams .wp-list-table td.column-nickname,
.teamtally__teams__list_teams_in_trash .wp-list-table th.column-nickname,
.teamtally__teams__list_teams_in_trash .wp-list-table td.column-nickname,
.teamtally__teams__list_teams .wp-list-table th.column-nickname,
.teamtally__teams__list_teams .wp-list-table td.column-nickname {
  width: 150px;
}
.teamtally__teams__list_draft_teams .wp-list-table th.column-history, .teamtally__teams__list_draft_teams .wp-list-table td.column-history,
.teamtally__teams__list_teams_in_trash .wp-list-table th.column-history,
.teamtally__teams__list_teams_in_trash .wp-list-table td.column-history,
.teamtally__teams__list_teams .wp-list-table th.column-history,
.teamtally__teams__list_teams .wp-list-table td.column-history {
  min-width: 200px;
}
.teamtally__teams__list_draft_teams .wp-list-table th.column-date, .teamtally__teams__list_draft_teams .wp-list-table td.column-date,
.teamtally__teams__list_teams_in_trash .wp-list-table th.column-date,
.teamtally__teams__list_teams_in_trash .wp-list-table td.column-date,
.teamtally__teams__list_teams .wp-list-table th.column-date,
.teamtally__teams__list_teams .wp-list-table td.column-date {
  width: 180px;
}
.teamtally__teams__list_draft_teams .wp-list-table .teams-logo,
.teamtally__teams__list_teams_in_trash .wp-list-table .teams-logo,
.teamtally__teams__list_teams .wp-list-table .teams-logo {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1300px) {
  .teamtally__teams__list_draft_teams .wp-list-table th.column-title, .teamtally__teams__list_draft_teams .wp-list-table td.column-title,
  .teamtally__teams__list_teams_in_trash .wp-list-table th.column-title,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-title,
  .teamtally__teams__list_teams .wp-list-table th.column-title,
  .teamtally__teams__list_teams .wp-list-table td.column-title {
    width: auto;
  }
  .teamtally__teams__list_draft_teams .wp-list-table th.column-logo, .teamtally__teams__list_draft_teams .wp-list-table td.column-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table th.column-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-logo,
  .teamtally__teams__list_teams .wp-list-table th.column-logo,
  .teamtally__teams__list_teams .wp-list-table td.column-logo {
    width: 120px;
  }
  .teamtally__teams__list_draft_teams .wp-list-table th.column-nickname, .teamtally__teams__list_draft_teams .wp-list-table td.column-nickname,
  .teamtally__teams__list_teams_in_trash .wp-list-table th.column-nickname,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-nickname,
  .teamtally__teams__list_teams .wp-list-table th.column-nickname,
  .teamtally__teams__list_teams .wp-list-table td.column-nickname {
    width: 110px;
  }
  .teamtally__teams__list_draft_teams .wp-list-table .teams-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table .teams-logo,
  .teamtally__teams__list_teams .wp-list-table .teams-logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .teamtally__teams__list_draft_teams .wp-list-table th.column-logo, .teamtally__teams__list_draft_teams .wp-list-table td.column-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table th.column-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-logo,
  .teamtally__teams__list_teams .wp-list-table th.column-logo,
  .teamtally__teams__list_teams .wp-list-table td.column-logo {
    width: 120px;
  }
  .teamtally__teams__list_draft_teams .wp-list-table th.column-nickname, .teamtally__teams__list_draft_teams .wp-list-table td.column-nickname,
  .teamtally__teams__list_teams_in_trash .wp-list-table th.column-nickname,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-nickname,
  .teamtally__teams__list_teams .wp-list-table th.column-nickname,
  .teamtally__teams__list_teams .wp-list-table td.column-nickname {
    width: 100px;
  }
  .teamtally__teams__list_draft_teams .wp-list-table th.column-date, .teamtally__teams__list_draft_teams .wp-list-table td.column-date,
  .teamtally__teams__list_teams_in_trash .wp-list-table th.column-date,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-date,
  .teamtally__teams__list_teams .wp-list-table th.column-date,
  .teamtally__teams__list_teams .wp-list-table td.column-date {
    width: 100px;
  }
  .teamtally__teams__list_draft_teams .wp-list-table .teams-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table .teams-logo,
  .teamtally__teams__list_teams .wp-list-table .teams-logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 782px) {
  .teamtally__teams__list_draft_teams .wp-list-table td.column-logo,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-logo,
  .teamtally__teams__list_teams .wp-list-table td.column-logo {
    text-align: left;
  }
  .teamtally__teams__list_draft_teams .wp-list-table td.column-nickname::before, .teamtally__teams__list_draft_teams .wp-list-table td.column-history::before, .teamtally__teams__list_draft_teams .wp-list-table td.column-logo::before, .teamtally__teams__list_draft_teams .wp-list-table td.column-date::before,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-nickname::before,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-history::before,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-logo::before,
  .teamtally__teams__list_teams_in_trash .wp-list-table td.column-date::before,
  .teamtally__teams__list_teams .wp-list-table td.column-nickname::before,
  .teamtally__teams__list_teams .wp-list-table td.column-history::before,
  .teamtally__teams__list_teams .wp-list-table td.column-logo::before,
  .teamtally__teams__list_teams .wp-list-table td.column-date::before {
    font-weight: bold;
    color: #888;
  }
}

/**
 * Import
 */
#teamtally-import #demo-radio label {
  font-weight: bold;
}
#teamtally-import #demo-radio label strong {
  background-color: #717171;
  padding: 5px 10px;
  color: white;
}

/**
 * About the author
 */
#teamtally-about .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
}
@media only screen and (max-width: 640px) {
  #teamtally-about .container {
    flex-direction: column;
  }
}
#teamtally-about .container .content * {
  line-height: 1.8;
}
#teamtally-about .container > div {
  flex-basis: 50%;
}
#teamtally-about .container #plugin-zone,
#teamtally-about .container #author-zone {
  position: relative;
  padding-top: 165px;
}
#teamtally-about .container #plugin-zone .splash,
#teamtally-about .container #author-zone .splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #2b2b2b;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0;
}
#teamtally-about .container #plugin-zone .splash::before,
#teamtally-about .container #author-zone .splash::before {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#teamtally-about .container #logo-teamtally::before {
  background-image: url("data:image/svg+xml,%3Csvg id=%27Layer_1%27 data-name=%27Layer 1%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 376.06 76.95%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogo_teamtally%3C/title%3E%3Cpath class=%27cls-1%27 d=%27M147.82 101.26H134.37V74.63h-6.76V56.55h27V74.63h-6.77Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M171.82 90h11.77v11.22H158.37V56.55h25.22V67.77H171.82v5.54h8.23V84.53h-8.23Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M200.17 93.64l-1.72 7.62H184.82l10.87-44.71h19.19l10.31 44.71H211.72L210 93.64Zm2.41-10.49h5L205.1 72.22Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M241.51 101.26H228.07V56.55h13l5.45 9.32L252 56.55h13.13v44.71H251.71V78.87l-5.16 8.65-5-8.65Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M305.73 101.26H292.28V74.63h-6.76V56.55h27V74.63h-6.77Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M325.77 93.64 324 101.26H310.42l10.87-44.71h19.19l10.31 44.71H337.31l-1.75-7.62Zm2.4-10.49h5l-2.46-10.93Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M378.94 101.26H353.66V56.55h13.45V90h11.83Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M407.51 101.26H382.23V56.55h13.44V90h11.84Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M424.59 81.74v19.52H411.14V81.74L399.57 56.55h13.62l4.69 10.14 4.69-10.14h13.59Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M282.47 120.7l.25 1.86h0l.33-1.87 2.51-9.24h1.88L290 120.7l.33 1.9h.06l.26-1.9 2-9.24h2.07l-3.42 14.15h-1.71l-2.82-9.82-.22-1.27h-.06l-.2 1.27-2.87 9.82h-1.71l-3.41-14.15h2.07Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M295.75 120.25a5.81 5.81 0 0 1 1.27-3.84 4.67 4.67 0 0 1 6.88 0 5.72 5.72 0 0 1 1.27 3.84v.22a5.78 5.78 0 0 1-1.26 3.85 4.72 4.72 0 0 1-6.89 0 5.77 5.77 0 0 1-1.27-3.84Zm1.92.22a5 5 0 0 0 .7 2.76 2.55 2.55 0 0 0 4.18 0 5 5 0 0 0 .71-2.76v-.22a4.94 4.94 0 0 0-.72-2.75 2.54 2.54 0 0 0-4.17 0 5 5 0 0 0-.7 2.75Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M312.49 116.79l-1-.06a2.16 2.16 0 0 0-1.27.36 2.2 2.2 0 0 0-.8 1v7.51h-1.92V115.1h1.71l.19 1.53a3.52 3.52 0 0 1 1.1-1.27 2.55 2.55 0 0 1 1.51-.46 2.73 2.73 0 0 1 .41 0l.32.08Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M313.86 120.55a7 7 0 0 1 1.08-4.09 3.48 3.48 0 0 1 3-1.56 3.68 3.68 0 0 1 1.63.34 3.34 3.34 0 0 1 1.22 1v-5.78h1.92v15.16h-1.47l-.29-1.33a3.48 3.48 0 0 1-1.28 1.14 3.76 3.76 0 0 1-1.75.39 3.61 3.61 0 0 1-3-1.39 5.82 5.82 0 0 1-1.08-3.67Zm1.91.2a4.5 4.5 0 0 0 .65 2.55 2.27 2.27 0 0 0 2 1 2.54 2.54 0 0 0 1.44-.39 2.82 2.82 0 0 0 .95-1.09v-4.91a2.94 2.94 0 0 0-.95-1 2.53 2.53 0 0 0-1.42-.38 2.16 2.16 0 0 0-2 1.13 5.85 5.85 0 0 0-.66 3Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M327.78 119.93v5.68h-1.91V111.46h5.41a5 5 0 0 1 3.52 1.17 4.38 4.38 0 0 1 0 6.15 5 5 0 0 1-3.52 1.15Zm0-1.49h3.5a2.56 2.56 0 0 0 2.85-2.72 2.81 2.81 0 0 0-.71-2 2.77 2.77 0 0 0-2.14-.78h-3.5Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M343.23 116.79l-1-.06a2.12 2.12 0 0 0-2.08 1.37v7.51h-1.92V115.1H340l.19 1.53a3.62 3.62 0 0 1 1.1-1.27 2.55 2.55 0 0 1 1.51-.46 2.73 2.73 0 0 1 .41 0 3 3 0 0 1 .32.08Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M349.39 125.81a4.42 4.42 0 0 1-3.53-1.45 5.52 5.52 0 0 1-1.27-3.8v-.43a5.43 5.43 0 0 1 1.31-3.75 4.08 4.08 0 0 1 3.19-1.48 3.83 3.83 0 0 1 3.16 1.31 5.44 5.44 0 0 1 1.05 3.49v1h-6.72l0 .05a4.32 4.32 0 0 0 .7 2.57 2.45 2.45 0 0 0 2.14 1 4.88 4.88 0 0 0 1.7-.28 4 4 0 0 0 1.26-.76l.75 1.24a4.68 4.68 0 0 1-1.49.92A5.86 5.86 0 0 1 349.39 125.81Zm-.3-9.4a2.07 2.07 0 0 0-1.66.77 3.63 3.63 0 0 0-.8 2l0 0h4.74v-.16a3.12 3.12 0 0 0-.56-1.9A2.07 2.07 0 0 0 349.09 116.41Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M361.56 122.78a1.28 1.28 0 0 0-.48-1 4.57 4.57 0 0 0-1.82-.7 7.48 7.48 0 0 1-2.85-1.12 2.24 2.24 0 0 1-1-1.92 2.8 2.8 0 0 1 1.09-2.2 4.34 4.34 0 0 1 2.84-.91 4.21 4.21 0 0 1 2.89 1 2.79 2.79 0 0 1 1.06 2.27l0 0h-1.82a1.65 1.65 0 0 0-.6-1.23 2.13 2.13 0 0 0-1.51-.55 2.18 2.18 0 0 0-1.51.45 1.42 1.42 0 0 0-.5 1.09 1.13 1.13 0 0 0 .43 1 4.73 4.73 0 0 0 1.78.63 7.53 7.53 0 0 1 2.94 1.15 2.35 2.35 0 0 1 1 2 2.76 2.76 0 0 1-1.14 2.29 5.41 5.41 0 0 1-6.12-.14 2.91 2.91 0 0 1-1.1-2.38l0-.06H357a1.76 1.76 0 0 0 .75 1.49 2.93 2.93 0 0 0 1.67.48 2.57 2.57 0 0 0 1.59-.44A1.29 1.29 0 0 0 361.56 122.78Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M372 122.78a1.28 1.28 0 0 0-.48-1 4.57 4.57 0 0 0-1.82-.7 7.61 7.61 0 0 1-2.86-1.12 2.26 2.26 0 0 1-1-1.92 2.77 2.77 0 0 1 1.09-2.2 4.31 4.31 0 0 1 2.83-.91 4.22 4.22 0 0 1 2.9 1 2.79 2.79 0 0 1 1.06 2.27l0 0h-1.83a1.65 1.65 0 0 0-.6-1.23 2.11 2.11 0 0 0-1.51-.55 2.21 2.21 0 0 0-1.51.45 1.45 1.45 0 0 0-.5 1.09 1.15 1.15 0 0 0 .43 1 4.8 4.8 0 0 0 1.79.63 7.48 7.48 0 0 1 2.93 1.15 2.32 2.32 0 0 1 1 2 2.78 2.78 0 0 1-1.13 2.29 5.43 5.43 0 0 1-6.13-.14 2.9 2.9 0 0 1-1.09-2.38l0-.06h1.82a1.77 1.77 0 0 0 .76 1.49 2.89 2.89 0 0 0 1.66.48 2.62 2.62 0 0 0 1.6-.44A1.29 1.29 0 0 0 372 122.78Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M383.38 119.93v5.68h-1.91V111.46h5.41a5 5 0 0 1 3.52 1.17 4.38 4.38 0 0 1 0 6.15 5 5 0 0 1-3.52 1.15Zm0-1.49h3.5a2.57 2.57 0 0 0 2.86-2.72 2.85 2.85 0 0 0-.71-2 2.79 2.79 0 0 0-2.15-.78h-3.5Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M395.93 125.61H394V110.45h1.92Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M405.55 124.05a3.58 3.58 0 0 1-1.28 1.31 3.47 3.47 0 0 1-1.79.45 3.38 3.38 0 0 1-2.69-1.1 5.1 5.1 0 0 1-1-3.42V115.1h1.92v6.21a4 4 0 0 0 .49 2.32 1.85 1.85 0 0 0 1.55.63 3.08 3.08 0 0 0 1.68-.42 2.52 2.52 0 0 0 1-1.17V115.1h1.91v10.51h-1.72Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M409.84 120.55a7 7 0 0 1 1.08-4.09 3.5 3.5 0 0 1 3-1.56 3.78 3.78 0 0 1 1.76.4 3.6 3.6 0 0 1 1.27 1.16l.24-1.36h1.52v10.57a4 4 0 0 1-1.17 3.1 4.87 4.87 0 0 1-3.4 1.08 7.54 7.54 0 0 1-1.63-.2 6.26 6.26 0 0 1-1.55-.57l.29-1.49a5.64 5.64 0 0 0 1.34.47 6.81 6.81 0 0 0 1.54.18 2.75 2.75 0 0 0 2-.64 2.6 2.6 0 0 0 .64-1.93v-1.2a3.39 3.39 0 0 1-1.24 1 3.79 3.79 0 0 1-1.66.34 3.61 3.61 0 0 1-3-1.39 5.82 5.82 0 0 1-1.08-3.67Zm1.92.2a4.45 4.45 0 0 0 .65 2.55 2.25 2.25 0 0 0 2 1 2.5 2.5 0 0 0 1.45-.4 3.1 3.1 0 0 0 1-1.11v-4.84a3.08 3.08 0 0 0-1-1.06 2.57 2.57 0 0 0-1.43-.39 2.17 2.17 0 0 0-2 1.13 5.85 5.85 0 0 0-.65 3Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M423.56 112.4h-1.91v-2h1.91Zm0 13.21h-1.91V115.1h1.91Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M428.21 115.1l.14 1.56a3.81 3.81 0 0 1 1.32-1.3 3.5 3.5 0 0 1 1.8-.46 3.41 3.41 0 0 1 2.63 1A4.37 4.37 0 0 1 435 119v6.64h-1.92V119a2.81 2.81 0 0 0-.55-2 2.17 2.17 0 0 0-1.67-.58 3 3 0 0 0-1.51.35 2.59 2.59 0 0 0-1 1v7.8H426.5V115.1Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M105.11 61.91a25.55 25.55 0 1 0-2.93 36A25.52 25.52 0 0 0 105.11 61.91ZM88.18 99.44A38.7 38.7 0 0 1 81.47 95c.62-2.85 2.15-7.34 2.34-7.88a29 29 0 0 0 9-3.27c.89.64 4.35 3.06 7 4.65a36.85 36.85 0 0 1-2.56 7.45C94.94 97.3 89.29 99.09 88.18 99.44ZM99.59 68a49.6 49.6 0 0 1 6.27 4.67 54.46 54.46 0 0 1 .62 9.66 62.4 62.4 0 0 1-6.1 5.17c-2.72-1.59-6.28-4.11-7-4.65a64.27 64.27 0 0 0-.53-9.72C94.11 72.25 98.39 69 99.59 68ZM95.9 59.81a29.81 29.81 0 0 1 3 7.29c-1.15.89-5.56 4.3-6.77 5.14a54.67 54.67 0 0 0-8.86-2.39 73.23 73.23 0 0 1-3-8 54.3 54.3 0 0 1 6.31-4.6A47.86 47.86 0 0 1 95.9 59.81Zm-24.49 3a29.29 29.29 0 0 1 7.79-.59A72.5 72.5 0 0 0 82.12 70a49.14 49.14 0 0 0-5.55 8.08c-.72 0-4.16.26-8.16.25a32.12 32.12 0 0 1-2.62-7.57A49.56 49.56 0 0 1 71.41 62.8Zm-3 16.64h.26c3.72 0 7-.2 7.87-.25a31.54 31.54 0 0 0 6.16 7.62c-.27.8-1.73 5.08-2.35 7.93a38.36 38.36 0 0 1-7.92.07 35.77 35.77 0 0 1-6-7.48A25.55 25.55 0 0 1 68.43 79.44ZM88.55 100.5A62.72 62.72 0 0 0 97.67 97a17.55 17.55 0 0 0 2.47 1.1 24.5 24.5 0 0 1-12.57 4.69C87.9 101.93 88.35 100.94 88.55 100.5Zm20.8-16.26-1.73-2a56 56 0 0 0-.63-9.6c.37-.35 1.15-1.12 1.82-1.84A24.54 24.54 0 0 1 109.35 84.24Zm-11-26.65c-.61.3-1.42.72-2.1 1.14a48.63 48.63 0 0 0-9.45-2.57A15.7 15.7 0 0 1 85.58 54h0A24.45 24.45 0 0 1 98.34 57.59ZM69.83 59.84l0 0a15.93 15.93 0 0 0 .62 2.34 50.06 50.06 0 0 0-5.64 8c-.78.12-1.65.3-2.3.44A24.25 24.25 0 0 1 69.83 59.84ZM67 94.26a24.18 24.18 0 0 1-4-6.49 21.38 21.38 0 0 0 2.45.24 36.93 36.93 0 0 0 5.91 7.4c-.14.94-.24 2-.31 2.67A24.2 24.2 0 0 1 67 94.26Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3C/svg%3E");
  min-width: calc(100% - 60px);
  max-height: 110px;
  aspect-ratio: 378/79;
}
#teamtally-about .container #logo-author::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 892.03 672.45%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%230071bc%3B%7D.cls-2%7Bfill:%23fff%3B%7D.cls-3%7Bfill:%23f7931e%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EIM_logo_black_final%3C/title%3E%3Cg id=%27text%27%3E%3Cpath class=%27cls-1%27 d=%27M413.51 204.09a52.9 52.9 0 0 1-15.57 38.4A51 51 0 0 1 360.1 258.4a50.42 50.42 0 0 1-37.72-16 55 55 0 0 1 0-76.47 52.81 52.81 0 0 1 75.56 0A52.63 52.63 0 0 1 413.51 204.09Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M331.62 793.7h.21l4.6-23.91h10l-9.67 38h-8.58l-7.06-21.94h-.21l-7.07 21.94h-8.54l-9.67-38h10l4.68 23.8h.21l7.1-23.8h6.86Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M368 808.57q-8.5 0-13.28-5.22t-4.79-13.45v-1.41q0-8.54 4.65-14t12.76-5.41q7.67 0 11.76 4.69t4.09 12.64v5.31H360.52l-.11.21a10.31 10.31 0 0 0 2.37 6.33c1.42 1.61 3.53 2.42 6.31 2.42A21.13 21.13 0 0 0 375 800a24.11 24.11 0 0 0 5-2.15l2.78 6.33a19 19 0 0 1-6.19 3.13A27.51 27.51 0 0 1 368 808.57ZM367.34 777a5.73 5.73 0 0 0-4.77 2.12 10.76 10.76 0 0 0-2 5.65l.07.17h12.52v-.77a8.93 8.93 0 0 0-1.37-5.26A5.07 5.07 0 0 0 367.34 777Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M423.48 789.86q0 8.52-3.8 13.61t-11 5.1a11.56 11.56 0 0 1-5.82-1.41 12 12 0 0 1-4.2-4.11l-.85 4.78h-8.68V753H399.4v20.85a11.65 11.65 0 0 1 4-3.51 11.09 11.09 0 0 1 5.3-1.23q7.23 0 11 5.46t3.8 14.58Zm-10.23-.73a19.81 19.81 0 0 0-1.63-8.81 5.74 5.74 0 0 0-5.58-3.25 7.64 7.64 0 0 0-4 1 6.94 6.94 0 0 0-2.6 2.86V797a6.57 6.57 0 0 0 2.62 2.63 8.41 8.41 0 0 0 4.09.92c2.65 0 4.5-.94 5.56-2.8s1.58-4.5 1.58-7.93Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M446.16 789.13q0-9 3.88-14.52A12.61 12.61 0 0 1 461 769.09a10.7 10.7 0 0 1 5.14 1.23 12.29 12.29 0 0 1 4 3.51V753h10.3v54.85h-8.75l-.88-4.68a12.7 12.7 0 0 1-4.25 4 11.32 11.32 0 0 1-5.63 1.39A12.85 12.85 0 0 1 450 803.43q-3.89-5.13-3.88-13.57Zm10.23.73a15.45 15.45 0 0 0 1.69 7.86 5.87 5.87 0 0 0 5.48 2.87 8 8 0 0 0 3.87-.9 7.13 7.13 0 0 0 2.7-2.62V780.86a7.92 7.92 0 0 0-2.69-2.79 7.13 7.13 0 0 0-3.81-1 5.78 5.78 0 0 0-5.5 3.34 18.85 18.85 0 0 0-1.74 8.72Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M504.87 808.57q-8.5 0-13.29-5.22T486.8 789.9v-1.41q0-8.54 4.64-14t12.76-5.41q7.67 0 11.76 4.69t4.1 12.64v5.31H497.38l-.11.21a10.32 10.32 0 0 0 2.38 6.33q2.13 2.41 6.31 2.42a21.06 21.06 0 0 0 5.85-.7 24 24 0 0 0 5-2.15l2.77 6.33a19 19 0 0 1-6.18 3.13A27.61 27.61 0 0 1 504.87 808.57ZM504.2 777a5.71 5.71 0 0 0-4.76 2.12 10.59 10.59 0 0 0-2 5.65l.07.17H510v-.77a8.93 8.93 0 0 0-1.37-5.26A5.06 5.06 0 0 0 504.2 777Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M539.32 793.66l.67 3.52h.21l.7-3.52 6.26-23.87h10.72l-12.93 38h-9.81l-12.94-38h10.72Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M578.38 808.57q-8.5 0-13.29-5.22t-4.78-13.45v-1.41q0-8.54 4.64-14t12.76-5.41q7.66 0 11.76 4.69t4.1 12.64v5.31H570.89l-.1.21a10.25 10.25 0 0 0 2.37 6.33q2.13 2.41 6.31 2.42a21 21 0 0 0 5.85-.7 24 24 0 0 0 5-2.15l2.78 6.33a19.12 19.12 0 0 1-6.19 3.13A27.56 27.56 0 0 1 578.38 808.57ZM577.71 777a5.71 5.71 0 0 0-4.76 2.12 10.59 10.59 0 0 0-2 5.65l.07.17h12.51v-.77a8.85 8.85 0 0 0-1.37-5.26A5.06 5.06 0 0 0 577.71 777Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M610.34 807.83H600.07V753h10.27Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M617.19 788.46q0-8.51 4.75-13.94t13.15-5.43q8.43 0 13.22 5.41t4.78 14v.74q0 8.56-4.77 14t-13.16 5.4q-8.45 0-13.2-5.4t-4.77-14Zm10.23.74a16.5 16.5 0 0 0 1.83 8.34 6.32 6.32 0 0 0 5.91 3.15 6.25 6.25 0 0 0 5.82-3.16 16.45 16.45 0 0 0 1.84-8.33v-.74A16.27 16.27 0 0 0 641 780.2a6.93 6.93 0 0 0-11.69 0 16.46 16.46 0 0 0-1.85 8.25Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M693.73 789.86q0 8.45-3.9 13.57a12.91 12.91 0 0 1-10.9 5.14 12.15 12.15 0 0 1-5.31-1.11 10.87 10.87 0 0 1-4-3.25v18.24H659.42V769.79h9.24l.6 4.5a12.18 12.18 0 0 1 4.06-3.85 11 11 0 0 1 5.54-1.35 12.67 12.67 0 0 1 11 5.52q3.9 5.52 3.9 14.52Zm-10.27-.73a18.44 18.44 0 0 0-1.79-8.72 5.85 5.85 0 0 0-5.49-3.34 7.68 7.68 0 0 0-3.95.95 6.72 6.72 0 0 0-2.58 2.7v16.67a6.3 6.3 0 0 0 2.58 2.46 8.73 8.73 0 0 0 4 .84 5.9 5.9 0 0 0 5.47-2.92 15.39 15.39 0 0 0 1.74-7.91Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M716.54 808.57q-8.5 0-13.29-5.22t-4.78-13.45v-1.41q0-8.54 4.64-14t12.77-5.41q7.67 0 11.76 4.69t4.09 12.64v5.31H709.06l-.11.21a10.31 10.31 0 0 0 2.37 6.33q2.13 2.41 6.31 2.42a21.13 21.13 0 0 0 5.86-.7 24.11 24.11 0 0 0 5-2.15l2.78 6.33a19 19 0 0 1-6.19 3.13A27.56 27.56 0 0 1 716.54 808.57ZM715.88 777a5.73 5.73 0 0 0-4.77 2.12 10.76 10.76 0 0 0-2 5.65l.07.17h12.52v-.77a8.93 8.93 0 0 0-1.37-5.26A5.07 5.07 0 0 0 715.88 777Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M757.71 778.61l-3.76-.1a6.77 6.77 0 0 0-3.76 1 5.92 5.92 0 0 0-2.25 2.67v25.7H737.71v-38h9.53l.45 5.62a12 12 0 0 1 3.47-4.65 7.66 7.66 0 0 1 4.9-1.67 7.76 7.76 0 0 1 1.42.12q.66.12 1.32.3Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M621 653.8q-.22 12.36-.22 21.72 0 10.14 8.4 10.14H731.69q8.4 0 8.4-9 0-20.55-1.12-54.89C702.23 632.94 662.65 643.71 621 653.8Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M420.67 496.84a9.13 9.13 0 0 1 2.61 3.19q13.61 28.66 40.83 93 10.58 25.26 19.46 45.5c20.52-3.78 41.52-8 62.87-12.51q10.42-2.22 20.69-4.51 8.29-20.44 16.58-40.93 35.63-87.75 38.81-89.49 2.6.58 2.6 9 0 29.25-2.17 87.75-.41 10.83-.73 20.67c41.44-10.36 80.17-21.35 115-32.52q-2.36-58.39-2.35-88.35 0-34.17 2.46-102.08t2.46-102.09q0-6.95-8.68-7-7.25 0-22.16 1.45t-22.15 1.45q-8.68 0-25.63-.87t-25.34-.87q-5.8 0-10.72 11.3-57.33 122.49-86.58 183.31Q528.1 493.95 524.92 494q-6.07 0-15-18.82L425.3 289.5a65.76 65.76 0 0 0-4.46-8.16S419.9 497.83 420.67 496.84Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-2%27 d=%27M502.24 679.48c1 2.13 2 4.21 3 6.18q2.89 5.79 18 5.79a115.06 115.06 0 0 0 11.58-.29q4.35-1.15 7.24-7.82l5.23-12.87Q524.5 675.24 502.24 679.48Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3C/g%3E%3Cg id=%27rings%27%3E%3Cpath class=%27cls-1%27 d=%27M306.49 361.6q2.89 92.39 2.9 126 0 31.56-3 94.84-2.42 50.05-2.91 80.26c33.79-2.46 71.88-6.79 112.89-12.94q-.34-24.25-1.24-59.36-1.45-56.74-1.45-85.14c0-.43 0-.84 0-1.24l1.18-224c-1.36-1.75-2.54-2.64-3.52-2.64q-15.93 0-47.79 1t-47.78 1q-12.45 0-12.16 5.79l.29 4.92Q306.2 337.58 306.49 361.6Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3Cpath class=%27cls-3%27 d=%27M981.67 482c-6.32-29.59-97.22-37.29-228.23-24.37l.49 1c103.63-8.93 173.78-2.36 178.75 20.92 8.19 38.39-163.95 107.68-384.48 154.76s-406 54.11-414.17 15.72c-4.54-21.3 46.41-52.11 130.34-83.35l-.11-1.4c-110.71 39.15-179.82 79.43-173.92 107 9.65 45.24 217 39.32 463.15-13.22S991.32 527.2 981.67 482Z%27 transform=%27translate%28-89.99 -150%29%27/%3E%3C/g%3E%3C/svg%3E");
  height: 80%;
  aspect-ratio: 197/145;
}
