/*
 * UTILITIES
 */
.teamtally_alignleft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

/*
 * ADD LEAGUE
 */
.teamtally_leagues__add-league .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.teamtally_leagues__add-league .row .left, .teamtally_leagues__add-league .row .right {
  padding-right: 20px;
}
.teamtally_leagues__add-league .row .left {
  order: 2;
}
.teamtally_leagues__add-league .row .right {
  order: 1;
  padding-top: 20px;
}
.teamtally_leagues__add-league .row .teamtally_leagues__add-league__photo {
  border: 1px solid #8c8f94;
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
  background-size: cover;
}
.teamtally_leagues__add-league .row .form-field label {
  font-weight: bold;
}
.teamtally_leagues__add-league div.submit {
  display: inline-block;
  margin-top: 30px;
}
.teamtally_leagues__add-league div.invalid {
  border: 4px solid #de3a02 !important;
}

/*
 * LIST LEAGUES
 */
.teamtally_leagues__list-leagues .leagues-zone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 30px 0;
}

/**
 * LEAGUE ITEM ICONS
 */
.teamtally_icon_edit {
  background-image: url("data:image/svg+xml,%3Csvg class=%27svg-icon%27 style=%27width: 1em%3B height: 1em%3Bvertical-align: middle%3Bfill: currentColor%3Boverflow: hidden%3B%27 viewBox=%270 0 1024 1024%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M358.277408 561.800219c-0.596588 0.759293-1.193175 1.559519-1.461281 2.52245l-46.050826 168.836313c-2.685155 9.829879 0.065492 20.422122 7.342222 27.889187 5.442966 5.317099 12.614296 8.239662 20.252253 8.239662 2.52245 0 5.050016-0.301875 7.537673-0.962931l167.638021-45.722344c0.26913 0 0.399089 0.23536 0.601704 0.23536 1.925862 0 3.817955-0.700965 5.246491-2.161223l448.270537-448.205045c13.31526-13.332656 20.61655-31.494295 20.61655-51.254338 0-22.38994-9.496282-44.770669-26.126031-61.356416L919.809521 117.458155c-16.604166-16.629749-39.016619-26.143427-61.396325-26.143427-19.754926 0-37.915541 7.303336-51.264571 20.602224L358.944604 560.241724C358.478999 560.669466 358.609982 561.302893 358.277408 561.800219M923.791206 228.575906l-44.526099 44.49233-72.180949-73.327052 43.894719-43.895743c6.935969-6.973832 20.384259-5.956665 28.353768 2.041496l42.363853 42.402739c4.420683 4.41352 6.941086 10.289344 6.941086 16.099676C928.610978 221.151819 926.914336 225.473241 923.791206 228.575906M437.999101 568.842613l323.465043-323.483462 72.216765 73.376171-322.863339 322.847989L437.999101 568.842613 437.999101 568.842613zM379.065873 699.990558l23.375383-85.799108 62.352093 62.358233L379.065873 699.990558 379.065873 699.990558zM927.623487 406.192186c-16.968463 0-31.904641 13.796214-31.970132 30.994921l0 419.411255c0 21.913079-17.796318 38.907125-39.744189 38.907125L166.418752 895.505487c-21.914102 0-38.247092-16.991999-38.247092-38.907125L128.17166 166.360935c0-21.930475 16.331967-38.441521 38.247092-38.441521l473.184973 0c17.063631 0 30.908964-15.163351 30.908964-32.232099 0-17.034978-13.846356-31.68156-30.908964-31.68156L161.703357 64.005756c-53.42477 0-97.827049 44.216038-97.827049 97.67253l0 699.637518c0 53.458539 44.403303 98.422613 97.827049 98.422613l698.884364 0c53.463656 0 98.967012-44.964074 98.967012-98.422613l0-424.324148C959.489242 419.9884 944.587857 406.192186 927.623487 406.192186%27 /%3E%3C/svg%3E");
}

.teamtally_icon_delete {
  background-image: url("data:image/svg+xml,%3Csvg class=%27svg-icon%27 style=%27width: 1em%3B height: 1em%3Bvertical-align: middle%3Bfill: currentColor%3Boverflow: hidden%3B%27 viewBox=%270 0 1024 1024%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M790.24 281.76l1.248 604.192c0 31.712-13.088 48.672-44.896 48.672l-461.504-1.28c-31.776 0-45.792-14.496-45.792-46.144l0-605.44-71.52 0 0 605.728c0 63.552 51.712 115.2 115.232 115.2l460.8 0c63.552 0 115.232-51.68 115.232-115.2l0-605.728-68.864 0zM335.744 411.392l0 428.928c0 2.784 0.416 5.472 1.12 8.032 21.088 0 42.208-0.032 63.328-0.192 0.672-2.464 1.088-5.152 1.088-7.84l0-428.736c-21.856-0.096-43.68-0.16-65.536-0.192l0 0zM624.992 412.928l0 427.424c0 2.208 0.256 4.384 0.704 6.496 21.344-0.128 42.72-0.16 64.032-0.224 0.448-2.048 0.672-4.096 0.672-6.336l0-427.168c-21.792-0.032-43.616-0.096-65.408-0.192l0 0zM978.912 165.664l-255.904 0 0-72.192c1.12-58.112-46.752-72.128-94.528-72.128l-229.952 0c-59.36 0-93.216 22.304-93.216 70.112l-0.256 74.208-259.968 0 0 70.496 933.792 0 0-70.496 0.032 0zM657.504 165.664l-288.032 0 0-50.496c0-16 11.296-29.92 27.296-29.92l230.432 1.248c16 0 30.08 11.488 30.08 27.488l0.224 51.68zM482.688 412.96l0 427.36c0 2.208 0.256 4.416 0.704 6.496 21.152-0.096 42.304-0.16 63.456-0.16 0.448-2.08 0.672-4.096 0.672-6.336l0-427.168c-21.632-0.032-43.232-0.096-64.864-0.192l0 0z%27 /%3E%3C/svg%3E");
}

.teamtally_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
}

/**
 * LEAGUE ITEM
 */
.teamtally_leagues__league-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  overflow: hidden;
  width: 385px;
}
.teamtally_leagues__league-item .thumbnail {
  position: relative;
  aspect-ratio: 77/58;
  overflow: hidden;
  cursor: pointer;
}
.teamtally_leagues__league-item .thumbnail .thumbnail__content {
  position: relative;
  z-index: 5;
  display: inline-block;
  background-size: cover;
  background-image: none;
  background-repeat: no-repeat;
  transition: transform 2s;
  width: 100%;
  height: 100%;
}
.teamtally_leagues__league-item .thumbnail .thumbnail__content:hover {
  transform: scale(1.5);
}
.teamtally_leagues__league-item .thumbnail .thumbnail__legend {
  position: absolute;
  z-index: 10;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 50px;
  bottom: -50px;
  left: 0;
  color: white;
  text-align: center;
  line-height: 50px;
  transition: bottom 1s;
}
.teamtally_leagues__league-item .thumbnail:hover .thumbnail__legend {
  bottom: 0;
}
.teamtally_leagues__league-item .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bbbbbb;
  background-color: white;
  padding: 10px;
}
.teamtally_leagues__league-item .footer .league-data .leaague-name {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
}
.teamtally_leagues__league-item .footer .league-data .league-country {
  margin: 5px 0;
}
.teamtally_leagues__league-item .footer .league-item-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.teamtally_leagues__league-item .footer .league-item-buttons a {
  filter: invert(72%) sepia(4%) saturate(11%) hue-rotate(10deg) brightness(93%) contrast(95%);
}
.teamtally_leagues__league-item .footer .league-item-buttons a:hover {
  filter: invert(30%) sepia(93%) saturate(908%) hue-rotate(352deg) brightness(105%) contrast(120%);
}
