/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/fast-sass-loader/lib/index.js!./src/scss/elementor-frontend-style.scss ***!
  \*************************************************************************************************************************************************************************************************************/
/* ELEMENTOR FRONTEND */
/**
 * ELEMENTOR TEAM TEMPLATE 01
 */
.elementor-teamtally-team__template__01 .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 3px solid #888888;
  border-bottom: 3px solid #888888;
}
.elementor-teamtally-team__template__01 .content > div {
  padding: 10px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
.elementor-teamtally-team__template__01 .content > div.even {
  background-color: #eeeeee;
}
.elementor-teamtally-team__template__01 .content > div.header {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #888888;
  color: white;
}
