/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/fast-sass-loader/lib/index.js!./src/scss/elementor-team-listing-style.scss ***!
  \*****************************************************************************************************************************************************************************************************************/
/**
 * Custom admin notice
 */
.notice {
  padding: 12px 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  position: relative;
  background-color: #fff;
  color: #32373c;
  border: 1px solid #e5e5e5;
  display: none;
}
.notice p {
  margin: 0;
}
.notice .close-btn-container {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
.notice .close-btn-container .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
.notice .close-btn-container .close-btn:before, .notice .close-btn-container .close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}
.notice .close-btn-container .close-btn:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.notice.is-dismissible .close-btn-container {
  visibility: visible;
}
.notice.notice-success {
  background-color: #d7e5ca;
  color: #3c763d;
  border-color: #c1e0b3;
}
.notice.notice-success .close-btn-container .close-btn:before, .notice.notice-success .close-btn-container .close-btn:after {
  background-color: #3c763d;
}
.notice.notice-error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.notice.notice-error .close-btn-container .close-btn:before, .notice.notice-error .close-btn-container .close-btn:after {
  background-color: #a94442;
}

/**
 * elementor team-listing widget style
 */
.elementor-control.elementor-control-template_btn_save, .elementor-control.elementor-control-template_btn_remove {
  display: inline-block;
  padding: 20px 0 40px 0;
  margin: 0;
  width: 50%;
}
.elementor-control.elementor-control-template_btn_save .elementor-control-content, .elementor-control.elementor-control-template_btn_remove .elementor-control-content {
  display: inline-block;
}
.elementor-control.elementor-control-template_btn_save button, .elementor-control.elementor-control-template_btn_remove button {
  min-width: 100px;
}
.elementor-control.elementor-control-template_btn_save {
  text-align: left;
  padding-left: 5px;
}
.elementor-control.elementor-control-template_btn_save button:not(disabled) {
  background-color: black !important;
}
.elementor-control.elementor-control-template_btn_remove {
  text-align: right;
  padding-right: 5px;
}
.elementor-control.elementor-control-template_tabs {
  padding-bottom: 30px;
}

#elementor-panel-page-editor .team-preview-button {
  text-align: center;
  padding: 20px 0;
}
#elementor-panel-page-editor .team-preview-button button {
  display: inline-block;
}

.elementor-control-template_pending {
  position: absolute !important;
  background-color: white !important;
}

.elementor-control-template_pending {
  display: block;
  z-index: 2000;
  left: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
}
.elementor-control-template_pending.is-pending {
  visibility: visible;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}
