/**
 * TEAMTALLY: TEAM LISTING
 */
@keyframes teamtally-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.elementor-widget-team_listing_widget {
  position: relative;
}
.elementor-widget-team_listing_widget .spinner-container {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}
.elementor-widget-team_listing_widget .spinner-container::before {
  content: "\e931";
  font-family: eicons;
  font-size: 50px;
  color: black;
  display: inline-block;
  animation: teamtally-rotate 1s linear infinite;
  opacity: 0.4;
  margin-top: 25px;
}
.elementor-widget-team_listing_widget .spinner-container.visible {
  display: block;
}

/**
 * TEAMTALLY: TEAM DETAIL
 */
.teamtally-team-detail {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 110px 1fr;
  grid-template-areas: "metadata logo" "history logo";
  width: 100%;
}
.teamtally-team-detail .team-metadata {
  grid-area: metadata;
  border: 1px solid #bbbbbb;
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 100px 1fr;
}
.teamtally-team-detail .team-metadata * {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.teamtally-team-detail .team-metadata h1 {
  font-weight: bold;
}
.teamtally-team-detail .team-history {
  grid-area: history;
  text-align: justify;
  text-justify: inter-word;
}
.teamtally-team-detail .team-logo {
  grid-area: logo;
  text-align: center;
}
.teamtally-team-detail .team-logo img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}
@media only screen and (max-width: 800px) {
  .teamtally-team-detail {
    grid-template-columns: 1fr;
    grid-template-areas: "metadata" "logo" "history";
  }
  .teamtally-team-detail .team-logo img {
    max-width: 500px;
  }
}

.site-branding {
  max-width: 100% !important;
}
