/*
 * LIST LEAGUES
 */

.teamtally_leagues__list-leagues {

  .leagues-zone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin: 30px 0;

    @media (max-width: 710px) {
      justify-content: center;
    }

  }

}

