body {
  font-family: Roboto, Arial, Helvetica;
  font-size: 22px;
  padding: 0;
  color: #888888;
}

.menu-icon {
  background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' style='width: 1em%3Bheight: 1em%3Bvertical-align: middle%3Bfill: currentColor%3Boverflow: hidden%3B' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M241.066667 228.266667h539.733333c4.266667 0 6.4 2.133333 10.666667 4.266666 2.133333 2.133333 4.266667 6.4 4.266666 10.666667v85.333333c0 4.266667-2.133333 6.4-4.266666 10.666667s-6.4 4.266667-10.666667 4.266667h-539.733333c-4.266667 0-6.4-2.133333-10.666667-4.266667-2.133333-2.133333-4.266667-6.4-4.266667-10.666667v-85.333333c0-4.266667 2.133333-6.4 4.266667-10.666667 4.266667-4.266667 8.533333-4.266667 10.666667-4.266666z m0 226.133333h539.733333c4.266667 0 6.4 2.133333 10.666667 4.266667s4.266667 6.4 4.266666 10.666666v85.333334c0 4.266667-2.133333 6.4-4.266666 10.666666s-6.4 4.266667-10.666667 4.266667h-539.733333c-4.266667 0-6.4-2.133333-10.666667-4.266667-2.133333-2.133333-4.266667-6.4-4.266667-10.666666v-85.333334c0-4.266667 2.133333-6.4 4.266667-10.666666 4.266667-2.133333 8.533333-4.266667 10.666667-4.266667z m0 228.266667h539.733333c4.266667 0 6.4 2.133333 10.666667 4.266666s4.266667 6.4 4.266666 10.666667v85.333333c0 4.266667-2.133333 6.4-4.266666 10.666667-2.133333 2.133333-6.4 4.266667-10.666667 4.266667h-539.733333c-4.266667 0-6.4-2.133333-10.666667-4.266667-2.133333-2.133333-4.266667-6.4-4.266667-10.666667v-85.333333c0-4.266667 2.133333-6.4 4.266667-10.666667 4.266667-2.133333 8.533333-4.266667 10.666667-4.266666z' /%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
}

#logo-teamtally {
  width: 60%;
  max-width: 500px;
  background-color: black;
  padding: 30px 60px;

  &::before {
    display: block;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg id=%27Layer_1%27 data-name=%27Layer 1%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 376.06 76.95%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogo_teamtally%3C/title%3E%3Cpath class=%27cls-1%27 d=%27M147.82 101.26H134.37V74.63h-6.76V56.55h27V74.63h-6.77Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M171.82 90h11.77v11.22H158.37V56.55h25.22V67.77H171.82v5.54h8.23V84.53h-8.23Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M200.17 93.64l-1.72 7.62H184.82l10.87-44.71h19.19l10.31 44.71H211.72L210 93.64Zm2.41-10.49h5L205.1 72.22Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M241.51 101.26H228.07V56.55h13l5.45 9.32L252 56.55h13.13v44.71H251.71V78.87l-5.16 8.65-5-8.65Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M305.73 101.26H292.28V74.63h-6.76V56.55h27V74.63h-6.77Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M325.77 93.64 324 101.26H310.42l10.87-44.71h19.19l10.31 44.71H337.31l-1.75-7.62Zm2.4-10.49h5l-2.46-10.93Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M378.94 101.26H353.66V56.55h13.45V90h11.83Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M407.51 101.26H382.23V56.55h13.44V90h11.84Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M424.59 81.74v19.52H411.14V81.74L399.57 56.55h13.62l4.69 10.14 4.69-10.14h13.59Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M282.47 120.7l.25 1.86h0l.33-1.87 2.51-9.24h1.88L290 120.7l.33 1.9h.06l.26-1.9 2-9.24h2.07l-3.42 14.15h-1.71l-2.82-9.82-.22-1.27h-.06l-.2 1.27-2.87 9.82h-1.71l-3.41-14.15h2.07Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M295.75 120.25a5.81 5.81 0 0 1 1.27-3.84 4.67 4.67 0 0 1 6.88 0 5.72 5.72 0 0 1 1.27 3.84v.22a5.78 5.78 0 0 1-1.26 3.85 4.72 4.72 0 0 1-6.89 0 5.77 5.77 0 0 1-1.27-3.84Zm1.92.22a5 5 0 0 0 .7 2.76 2.55 2.55 0 0 0 4.18 0 5 5 0 0 0 .71-2.76v-.22a4.94 4.94 0 0 0-.72-2.75 2.54 2.54 0 0 0-4.17 0 5 5 0 0 0-.7 2.75Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M312.49 116.79l-1-.06a2.16 2.16 0 0 0-1.27.36 2.2 2.2 0 0 0-.8 1v7.51h-1.92V115.1h1.71l.19 1.53a3.52 3.52 0 0 1 1.1-1.27 2.55 2.55 0 0 1 1.51-.46 2.73 2.73 0 0 1 .41 0l.32.08Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M313.86 120.55a7 7 0 0 1 1.08-4.09 3.48 3.48 0 0 1 3-1.56 3.68 3.68 0 0 1 1.63.34 3.34 3.34 0 0 1 1.22 1v-5.78h1.92v15.16h-1.47l-.29-1.33a3.48 3.48 0 0 1-1.28 1.14 3.76 3.76 0 0 1-1.75.39 3.61 3.61 0 0 1-3-1.39 5.82 5.82 0 0 1-1.08-3.67Zm1.91.2a4.5 4.5 0 0 0 .65 2.55 2.27 2.27 0 0 0 2 1 2.54 2.54 0 0 0 1.44-.39 2.82 2.82 0 0 0 .95-1.09v-4.91a2.94 2.94 0 0 0-.95-1 2.53 2.53 0 0 0-1.42-.38 2.16 2.16 0 0 0-2 1.13 5.85 5.85 0 0 0-.66 3Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M327.78 119.93v5.68h-1.91V111.46h5.41a5 5 0 0 1 3.52 1.17 4.38 4.38 0 0 1 0 6.15 5 5 0 0 1-3.52 1.15Zm0-1.49h3.5a2.56 2.56 0 0 0 2.85-2.72 2.81 2.81 0 0 0-.71-2 2.77 2.77 0 0 0-2.14-.78h-3.5Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M343.23 116.79l-1-.06a2.12 2.12 0 0 0-2.08 1.37v7.51h-1.92V115.1H340l.19 1.53a3.62 3.62 0 0 1 1.1-1.27 2.55 2.55 0 0 1 1.51-.46 2.73 2.73 0 0 1 .41 0 3 3 0 0 1 .32.08Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M349.39 125.81a4.42 4.42 0 0 1-3.53-1.45 5.52 5.52 0 0 1-1.27-3.8v-.43a5.43 5.43 0 0 1 1.31-3.75 4.08 4.08 0 0 1 3.19-1.48 3.83 3.83 0 0 1 3.16 1.31 5.44 5.44 0 0 1 1.05 3.49v1h-6.72l0 .05a4.32 4.32 0 0 0 .7 2.57 2.45 2.45 0 0 0 2.14 1 4.88 4.88 0 0 0 1.7-.28 4 4 0 0 0 1.26-.76l.75 1.24a4.68 4.68 0 0 1-1.49.92A5.86 5.86 0 0 1 349.39 125.81Zm-.3-9.4a2.07 2.07 0 0 0-1.66.77 3.63 3.63 0 0 0-.8 2l0 0h4.74v-.16a3.12 3.12 0 0 0-.56-1.9A2.07 2.07 0 0 0 349.09 116.41Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M361.56 122.78a1.28 1.28 0 0 0-.48-1 4.57 4.57 0 0 0-1.82-.7 7.48 7.48 0 0 1-2.85-1.12 2.24 2.24 0 0 1-1-1.92 2.8 2.8 0 0 1 1.09-2.2 4.34 4.34 0 0 1 2.84-.91 4.21 4.21 0 0 1 2.89 1 2.79 2.79 0 0 1 1.06 2.27l0 0h-1.82a1.65 1.65 0 0 0-.6-1.23 2.13 2.13 0 0 0-1.51-.55 2.18 2.18 0 0 0-1.51.45 1.42 1.42 0 0 0-.5 1.09 1.13 1.13 0 0 0 .43 1 4.73 4.73 0 0 0 1.78.63 7.53 7.53 0 0 1 2.94 1.15 2.35 2.35 0 0 1 1 2 2.76 2.76 0 0 1-1.14 2.29 5.41 5.41 0 0 1-6.12-.14 2.91 2.91 0 0 1-1.1-2.38l0-.06H357a1.76 1.76 0 0 0 .75 1.49 2.93 2.93 0 0 0 1.67.48 2.57 2.57 0 0 0 1.59-.44A1.29 1.29 0 0 0 361.56 122.78Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M372 122.78a1.28 1.28 0 0 0-.48-1 4.57 4.57 0 0 0-1.82-.7 7.61 7.61 0 0 1-2.86-1.12 2.26 2.26 0 0 1-1-1.92 2.77 2.77 0 0 1 1.09-2.2 4.31 4.31 0 0 1 2.83-.91 4.22 4.22 0 0 1 2.9 1 2.79 2.79 0 0 1 1.06 2.27l0 0h-1.83a1.65 1.65 0 0 0-.6-1.23 2.11 2.11 0 0 0-1.51-.55 2.21 2.21 0 0 0-1.51.45 1.45 1.45 0 0 0-.5 1.09 1.15 1.15 0 0 0 .43 1 4.8 4.8 0 0 0 1.79.63 7.48 7.48 0 0 1 2.93 1.15 2.32 2.32 0 0 1 1 2 2.78 2.78 0 0 1-1.13 2.29 5.43 5.43 0 0 1-6.13-.14 2.9 2.9 0 0 1-1.09-2.38l0-.06h1.82a1.77 1.77 0 0 0 .76 1.49 2.89 2.89 0 0 0 1.66.48 2.62 2.62 0 0 0 1.6-.44A1.29 1.29 0 0 0 372 122.78Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M383.38 119.93v5.68h-1.91V111.46h5.41a5 5 0 0 1 3.52 1.17 4.38 4.38 0 0 1 0 6.15 5 5 0 0 1-3.52 1.15Zm0-1.49h3.5a2.57 2.57 0 0 0 2.86-2.72 2.85 2.85 0 0 0-.71-2 2.79 2.79 0 0 0-2.15-.78h-3.5Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M395.93 125.61H394V110.45h1.92Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M405.55 124.05a3.58 3.58 0 0 1-1.28 1.31 3.47 3.47 0 0 1-1.79.45 3.38 3.38 0 0 1-2.69-1.1 5.1 5.1 0 0 1-1-3.42V115.1h1.92v6.21a4 4 0 0 0 .49 2.32 1.85 1.85 0 0 0 1.55.63 3.08 3.08 0 0 0 1.68-.42 2.52 2.52 0 0 0 1-1.17V115.1h1.91v10.51h-1.72Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M409.84 120.55a7 7 0 0 1 1.08-4.09 3.5 3.5 0 0 1 3-1.56 3.78 3.78 0 0 1 1.76.4 3.6 3.6 0 0 1 1.27 1.16l.24-1.36h1.52v10.57a4 4 0 0 1-1.17 3.1 4.87 4.87 0 0 1-3.4 1.08 7.54 7.54 0 0 1-1.63-.2 6.26 6.26 0 0 1-1.55-.57l.29-1.49a5.64 5.64 0 0 0 1.34.47 6.81 6.81 0 0 0 1.54.18 2.75 2.75 0 0 0 2-.64 2.6 2.6 0 0 0 .64-1.93v-1.2a3.39 3.39 0 0 1-1.24 1 3.79 3.79 0 0 1-1.66.34 3.61 3.61 0 0 1-3-1.39 5.82 5.82 0 0 1-1.08-3.67Zm1.92.2a4.45 4.45 0 0 0 .65 2.55 2.25 2.25 0 0 0 2 1 2.5 2.5 0 0 0 1.45-.4 3.1 3.1 0 0 0 1-1.11v-4.84a3.08 3.08 0 0 0-1-1.06 2.57 2.57 0 0 0-1.43-.39 2.17 2.17 0 0 0-2 1.13 5.85 5.85 0 0 0-.65 3Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M423.56 112.4h-1.91v-2h1.91Zm0 13.21h-1.91V115.1h1.91Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M428.21 115.1l.14 1.56a3.81 3.81 0 0 1 1.32-1.3 3.5 3.5 0 0 1 1.8-.46 3.41 3.41 0 0 1 2.63 1A4.37 4.37 0 0 1 435 119v6.64h-1.92V119a2.81 2.81 0 0 0-.55-2 2.17 2.17 0 0 0-1.67-.58 3 3 0 0 0-1.51.35 2.59 2.59 0 0 0-1 1v7.8H426.5V115.1Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3Cpath class=%27cls-1%27 d=%27M105.11 61.91a25.55 25.55 0 1 0-2.93 36A25.52 25.52 0 0 0 105.11 61.91ZM88.18 99.44A38.7 38.7 0 0 1 81.47 95c.62-2.85 2.15-7.34 2.34-7.88a29 29 0 0 0 9-3.27c.89.64 4.35 3.06 7 4.65a36.85 36.85 0 0 1-2.56 7.45C94.94 97.3 89.29 99.09 88.18 99.44ZM99.59 68a49.6 49.6 0 0 1 6.27 4.67 54.46 54.46 0 0 1 .62 9.66 62.4 62.4 0 0 1-6.1 5.17c-2.72-1.59-6.28-4.11-7-4.65a64.27 64.27 0 0 0-.53-9.72C94.11 72.25 98.39 69 99.59 68ZM95.9 59.81a29.81 29.81 0 0 1 3 7.29c-1.15.89-5.56 4.3-6.77 5.14a54.67 54.67 0 0 0-8.86-2.39 73.23 73.23 0 0 1-3-8 54.3 54.3 0 0 1 6.31-4.6A47.86 47.86 0 0 1 95.9 59.81Zm-24.49 3a29.29 29.29 0 0 1 7.79-.59A72.5 72.5 0 0 0 82.12 70a49.14 49.14 0 0 0-5.55 8.08c-.72 0-4.16.26-8.16.25a32.12 32.12 0 0 1-2.62-7.57A49.56 49.56 0 0 1 71.41 62.8Zm-3 16.64h.26c3.72 0 7-.2 7.87-.25a31.54 31.54 0 0 0 6.16 7.62c-.27.8-1.73 5.08-2.35 7.93a38.36 38.36 0 0 1-7.92.07 35.77 35.77 0 0 1-6-7.48A25.55 25.55 0 0 1 68.43 79.44ZM88.55 100.5A62.72 62.72 0 0 0 97.67 97a17.55 17.55 0 0 0 2.47 1.1 24.5 24.5 0 0 1-12.57 4.69C87.9 101.93 88.35 100.94 88.55 100.5Zm20.8-16.26-1.73-2a56 56 0 0 0-.63-9.6c.37-.35 1.15-1.12 1.82-1.84A24.54 24.54 0 0 1 109.35 84.24Zm-11-26.65c-.61.3-1.42.72-2.1 1.14a48.63 48.63 0 0 0-9.45-2.57A15.7 15.7 0 0 1 85.58 54h0A24.45 24.45 0 0 1 98.34 57.59ZM69.83 59.84l0 0a15.93 15.93 0 0 0 .62 2.34 50.06 50.06 0 0 0-5.64 8c-.78.12-1.65.3-2.3.44A24.25 24.25 0 0 1 69.83 59.84ZM67 94.26a24.18 24.18 0 0 1-4-6.49 21.38 21.38 0 0 0 2.45.24 36.93 36.93 0 0 0 5.91 7.4c-.14.94-.24 2-.31 2.67A24.2 24.2 0 0 1 67 94.26Z%27 transform=%27translate%28-60.1 -52.9%29%27/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    min-width: calc(100% - 60px);
    max-height: 110px;
    aspect-ratio: 378/79;

  }
}


#main {
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-areas: "left content right";

  .left {
    grid-area: left;
  }

  .right {
    position: relative;
    grid-area: right;
    padding: 20px;

    .js-toc {
      position: fixed;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 85%;

      a {
        text-decoration: none;

        &:hover {
          color: orangered;
        }
      }

    }

    .menu {
      display: none;
    }

  }

  .content {
    grid-area: content;
    margin-bottom: 780px;
    text-align: justify;
    text-justify: inter-word;
    padding: 30px 50px 30px 0;

    h1, h2, h3, h4, h5 {
      text-align: left;
      color: #111;
    }

    h3, h4, h5 {
      font-family: Roboto Light;
    }

    .back-btn {
      margin-top: 100px;
    }

    code {
      color: #9b0707;
    }

    pre {
      overflow: scroll;
      background-color: #2b2b2b;
      padding: 20px;
      font-size: 90%;
      code {

      }
    }

  }

  @media only screen and (max-width: 1200px) {
    grid-template-columns: auto 300px;
    grid-template-areas: "content right";

    .content {
      padding: 30px 20px 30px 50px;
      margin-right: 20px;
    }
  }

  @media only screen and (max-width: 800px) {
    grid-template-columns: auto;
    grid-template-areas: "content";

    .content {
      padding: 60px 0px 30px 70px;
    }

    .right {
      position: fixed;
      grid-area: auto;
      top: 0;
      left: 0;
      padding: 0;
      background-color: white;

      .js-toc {
        $menu-size: 300px;

        position: fixed;
        top: 0;
        right: -#{$menu-size + 100px};
        width: $menu-size;
        height: 100%;
        padding-top: 30px;
        background-color: #efefef;
        transition: right 300ms;

        -webkit-box-shadow: -15px 0px 5px 0px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: -15px 0px 5px 0px rgba(0, 0, 0, 0.19);
        box-shadow: -15px 0px 5px 0px rgba(0, 0, 0, 0.19);

        &.visible {
          right: 0;
        }

      }

      .menu {
        display: block;
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;

      }

    }

  }

}

.toc-list {
  list-style: none;

  ol {
    margin-top: 10px;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
  }
}